@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#141414;
    color: whitesmoke;
}

.app {
    overflow-x: hidden;
}

.quote-text {
    text-align: center;
    height: auto;
    width: 500px;
    font-family: 'Shippori Mincho B1', serif;
    font-weight: bolder;
    font-size: larger;
    margin-top: 90px;
}